.passwd-box{
  margin-left: 10px;
  width:90%;
  border:1px red solid;
}
.passwd-box table{
  border:1px red solid;
  margin-top: 20px;
  margin-left: 50px;
  cellspacing: 20px;
}
.passwd-box > input{
  margin-top: 20px;
  width: 100px;
  color: cadetblue;
  margin-left: 50px;
}
