.admin-menu-box{
  line-height:30px;
  background-color:#eeeeee;
  height:300px;
  width:200px;
  float:left;
  padding:5px;
}
.admin-menu-op{
  width:350px;
  float:left;
  padding:10px;
}
.admin-menu{
  clear:both;
}
.admin-menu-item{
  list-style:none;
  position:relative;
  background-color: aliceblue;
  margin-bottom: 10px;
  text-align:center;
  cursor: hand;
}
